{%  extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON FILE</title>

</head>
<body>
<br>

<div class = "jumbotron text-center" >

    <h3><b style="color:#c20b0b">---JSON FILE---</b></h3>
    <h3>Main : <p style="color:#4c00ff">BLUE</p></h3>
    <h3>First Spare : <p style="color:#ff0066">PINK</p></h3>
    <h3>Second Spare : <p style="color:#08871a">GREEN</p></h3>


    <hr>

    <table id="products" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
            <th>Service Uid</th>
            <th>Trails</th>
            <th>Details</th>
        </tr>
      </thead>
        <tbody>

        {% for service in service_list %}

            {% for uid,group in service.items %}
                <tr>
            <td>{{ uid }}</td>
             <td>{% for gr in group %}
                 {% for group_type, trail_name in gr.items %}
                     {% if group_type == main %}
                         <p style="color:#4c00ff">{{ trail_name }}</p> <br>
                     {% endif %}
                     {% if group_type == spare_1 %}
                         <p style="color:#ff0066">{{ trail_name }}</p> <br>
                     {% endif %}
                     {% if group_type == spare_2 %}
                         <p style="color:#08871a">{{ trail_name }}</p> <br>
                     {% endif %}

                 {% endfor %}
             {% endfor %}
            </td>
            <td><a class="btn btn-sm btn-outline-primary" href="{% url 'show_details' %}">Show Details</a></td>
                </tr>
            {% endfor %}

        {% endfor %}
    </tbody>
    </table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script>
$(document).ready(function() {
    $('#products').DataTable();

});



</script>

</div>

</body>
</html>

{% endblock %}